nodered/2015-03-08-13-02.txt
[{"id":"e1c9755b.1e3688","type":"http in","name":"get bed data to insert info","url":"/bed","method":"get","x":131,"y":59,"z":"3e501efd.c1afe2","wires":[["b8263ce.f47d9c","bbfa11b1.4405f","fe8a57ce.0175a8"]]},{"id":"b8263ce.f47d9c","type":"http response","name":"http respond ok","x":620,"y":59,"z":"3e501efd.c1afe2","wires":[]},{"id":"bbfa11b1.4405f","type":"debug","name":"","active":true,"console":false,"complete":false,"x":612,"y":95,"z":"3e501efd.c1afe2","wires":[]},{"id":"249609e6.db69f6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":689,"y":157,"z":"3e501efd.c1afe2","wires":[]},{"id":"f02b7951.0fd488","type":"http request","name":"send warning sms","method":"GET","url":"http://api.clickatell.com/http/sendmsg?user=eventovate&password=eventopass38&api_id=3128468&to=353876570028&text=Check_The_Fridge","x":678,"y":195,"z":"3e501efd.c1afe2","wires":[[]]},{"id":"fe8a57ce.0175a8","type":"function","name":"evaluate the occupancy","func":"context.global.occupancy = msg.payload.occupancy;\ncontext.global.latesttime = Date.now();\n\nif (msg.payload.occupancy > 0 ) {\n   // Was it previously occupied or just starting now?\n   if(context.global.previouslyoccupied != 1) {\n   \t\tcontext.global.starttime = Date.now();\n   \t\tcontext.global.previouslyoccupied = 1;\n   \t\tcontext.global.runningtime = 0;\n   } else {\n   \t\tcontext.global.runningtime = Date.now() - context.global.starttime;\n   }\n   // must be at end\n   return [ null, \"Bed is occupied\" ];\n} else {\n   \n   context.global.previouslyoccupied = 0;\n   context.global.runningoccupiedtime = 0;\n   context.global.runningtime = 0;\n   // must be at end\n   return [ \"Bed is empty\", null ];\n}\n","outputs":"2","x":431,"y":175,"z":"3e501efd.c1afe2","wires":[["249609e6.db69f6"],["249609e6.db69f6"]]},{"id":"5d5e27ed.a2a1d8","type":"http request","name":"smscall","method":"GET","url":"http://api.clickatell.com/http/sendmsg?user=eventovate&password=eventopass38&api_id=3128468&to=353868443282&text=Check_The_Fridge","x":644,"y":236,"z":"3e501efd.c1afe2","wires":[[]]},{"id":"186be1bd.e7941e","type":"http in","name":"","url":"/db-bed","method":"get","x":97,"y":327,"z":"3e501efd.c1afe2","wires":[[]]},{"id":"d9aafd0a.2655","type":"http response","name":"","x":413,"y":335,"z":"3e501efd.c1afe2","wires":[]},{"id":"66979e13.99686","type":"comment","name":"Get all db back","info":"","x":100,"y":284,"z":"3e501efd.c1afe2","wires":[]},{"id":"77afc206.88503c","type":"http in","name":"","url":"/latest","method":"get","x":98,"y":409,"z":"3e501efd.c1afe2","wires":[["6fcef84a.903108"]]},{"id":"6fcef84a.903108","type":"function","name":"","func":"msg.headers = { 'Access-Control-Request-Headers': 'X-Requested-With, accept, content-type',\n\t'Access-Control-Allow-Methods': 'GET, POST',\n\t'Access-Control-Allow-Origin': '*' };\n\nmsg.payload.occupancy = context.global.occupancy;\nmsg.payload.latesttime = context.global.latesttime;\nmsg.payload.startoccupiedtime = context.global.starttime;\nmsg.payload.previouslyoccupied = context.global.previouslyoccupied;\nmsg.payload.runningoccupiedtime = context.global.runningtime;\nmsg.payload.fullcontext =  context.global;\nreturn msg;","outputs":1,"x":255,"y":411,"z":"3e501efd.c1afe2","wires":[["7f71e3cc.808e1c"]]},{"id":"7f71e3cc.808e1c","type":"http response","name":"","x":400,"y":409,"z":"3e501efd.c1afe2","wires":[]},{"id":"c750babb.38af48","type":"http in","name":"","url":"/latestoccupancy","method":"get","x":119,"y":475,"z":"3e501efd.c1afe2","wires":[["a76f4733.5890b8"]]},{"id":"a76f4733.5890b8","type":"function","name":"create gauge","func":"\nvar numberToShow = Math.floor(context.global.occupancy *100);\n\nvar redirectUrl =\"http://chart.apis.google.com/chart?chs=400x240&cht=gom\"\n+ \"&chd=t:\" + numberToShow\n+ \"&chl=\" + numberToShow + \"%&chco=B8D5D7,AA3333\";\n\nmsg.statusCode = \"302\"\nmsg.headers = {\"Location\": redirectUrl};\nreturn msg;","outputs":1,"x":350,"y":485,"z":"3e501efd.c1afe2","wires":[["82874d41.7d78b"]]},{"id":"82874d41.7d78b","type":"http response","name":"","x":500,"y":487,"z":"3e501efd.c1afe2","wires":[]},{"id":"2e1267d3.d1ed98","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":218,"z":"3e501efd.c1afe2","wires":[["dba5711f.245a9"]]},{"id":"dba5711f.245a9","type":"function","name":"startup variables","func":"context.global.previouslyoccupied = 0;\n\nreturn msg;","outputs":1,"x":280,"y":231,"z":"3e501efd.c1afe2","wires":[[]]}]