nodered/2015-03-08-12-02.txt
[{"id":"eee074db.111f88","type":"http in","name":"get bed data to insert info","url":"/bed","method":"get","x":111,"y":74,"z":"ab678d09.54987","wires":[["c1fa3f1d.3e05c","bac27099.453d9","cd3cb5aa.32c348","74968559.8b697c"]]},{"id":"c1fa3f1d.3e05c","type":"http response","name":"http respond ok","x":600,"y":74,"z":"ab678d09.54987","wires":[]},{"id":"bac27099.453d9","type":"debug","name":"","active":true,"console":false,"complete":false,"x":592,"y":110,"z":"ab678d09.54987","wires":[]},{"id":"80b9625b.7f46a","type":"debug","name":"","active":true,"console":"false","complete":"true","x":669,"y":172,"z":"ab678d09.54987","wires":[]},{"id":"18dfc6d7.e72039","type":"http request","name":"send warning sms","method":"GET","url":"http://api.clickatell.com/http/sendmsg?user=eventovate&password=eventopass38&api_id=3128468&to=353876570028&text=Check_The_Fridge","x":658,"y":210,"z":"ab678d09.54987","wires":[[]]},{"id":"cd3cb5aa.32c348","type":"function","name":"evaluate the occupancy","func":"context.global.occupancy = msg.payload.occupancy\nif (msg.payload.occupancy > 0 ) {\n   return [ null, \"Bed is occupied\" ];\n} else {\n   return [ \"Bed is empty\", null ];\n}\n","outputs":"2","x":411,"y":190,"z":"ab678d09.54987","wires":[["80b9625b.7f46a"],["80b9625b.7f46a"]]},{"id":"9e9f92e4.61607","type":"http request","name":"smscall","method":"GET","url":"http://api.clickatell.com/http/sendmsg?user=eventovate&password=eventopass38&api_id=3128468&to=353868443282&text=Check_The_Fridge","x":624,"y":251,"z":"ab678d09.54987","wires":[[]]},{"id":"dac8e5fe.253718","type":"http in","name":"","url":"/db-bed","method":"get","x":77,"y":342,"z":"ab678d09.54987","wires":[["9a1c9ec.f65e36"]]},{"id":"a35aedd7.5ca51","type":"http response","name":"","x":393,"y":350,"z":"ab678d09.54987","wires":[]},{"id":"9a1c9ec.f65e36","type":"cloudant in","service":"smartbed-cloudantNoSQLDB","cloudant":"","name":"bed","database":"bed","search":"_all_","design":"","index":"","x":252,"y":345,"z":"ab678d09.54987","wires":[["a35aedd7.5ca51"]]},{"id":"7df8a5ce.82075c","type":"cloudant out","service":"smartbed-cloudantNoSQLDB","cloudant":"","name":"bed","database":"bed","payonly":true,"operation":"insert","x":503,"y":242,"z":"ab678d09.54987","wires":[]},{"id":"841ef02.f7be11","type":"comment","name":"Get all db back","info":"","x":80,"y":299,"z":"ab678d09.54987","wires":[]},{"id":"74968559.8b697c","type":"function","name":"add timestamp","func":"msg.payload.currenttime = Date.now();\ncontext.global.foo = msg.payload; \nreturn msg;","outputs":1,"x":352,"y":240,"z":"ab678d09.54987","wires":[["7df8a5ce.82075c"]]},{"id":"1eb94854.e146b8","type":"http in","name":"","url":"/latest","method":"get","x":78,"y":424,"z":"ab678d09.54987","wires":[["e99135ad.166ec8"]]},{"id":"e99135ad.166ec8","type":"function","name":"","func":"msg.payload.latest = context.global.foo;\nreturn msg;","outputs":1,"x":235,"y":426,"z":"ab678d09.54987","wires":[["ac17cc2.f53e83"]]},{"id":"ac17cc2.f53e83","type":"http response","name":"","x":380,"y":424,"z":"ab678d09.54987","wires":[]},{"id":"a53069d9.5acf98","type":"http in","name":"","url":"/latestoccupancy","method":"get","x":99,"y":490,"z":"ab678d09.54987","wires":[["1d95c061.e26a4"]]},{"id":"1d95c061.e26a4","type":"function","name":"create gauge","func":"\nvar numberToShow = Math.floor(context.global.occupancy *100);\n\nvar redirectUrl =\"http://chart.apis.google.com/chart?chs=400x240&cht=gom\"\n+ \"&chd=t:\" + numberToShow\n+ \"&chl=\" + numberToShow + \"%&chco=B8D5D7,AA3333\";\n\nmsg.statusCode = \"302\"\nmsg.headers = {\"Location\": redirectUrl};\nreturn msg;","outputs":1,"x":330,"y":500,"z":"ab678d09.54987","wires":[["a178b37e.5e875"]]},{"id":"a178b37e.5e875","type":"http response","name":"","x":480,"y":502,"z":"ab678d09.54987","wires":[]}]